<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenyu.mybatis.dao.StudentDao">
    <select id="loadStudentById" parameterType="int" resultType="Student">
        SELECT * FROM student WHERE studentId=#{id}
    </select>
    <select id="queryStudent" resultType="Student">
        SELECT * FROM student WHERE TRUE
        <if test="studentName != null and studentName != ''">
            AND
            studentName=#{studentName}
        </if>

    </select>
</mapper>